/* Cuberto Mouse Follower cursor styles (Nuxt integration)
   You can customize these styles as needed, or import from a package if you have a custom cursor.css file. */
.g-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  -webkit-transition:
    opacity 0.3s,
    color 0.4s;
  -o-transition:
    opacity 0.3s,
    color 0.4s;
  -moz-transition:
    opacity 0.3s,
    color 0.4s;
  transition:
    opacity 0.3s,
    color 0.4s;
  contain: layout style size;
  pointer-events: none;
  color: var(--color-500);
}
body.modal-open .g-cursor,
body.page-loading .g-cursor {
  z-index: 10000;
}
.g-cursor:before {
  display: block;
  position: absolute;
  top: -24px;
  left: -24px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transition:
    opacity 0.1s,
    -webkit-transform 0.3s;
  transition:
    opacity 0.1s,
    -webkit-transform 0.3s;
  -o-transition:
    opacity 0.1s,
    -o-transform 0.3s;
  -moz-transition:
    transform 0.3s,
    opacity 0.1s,
    -moz-transform 0.3s;
  transition:
    transform 0.3s,
    opacity 0.1s;
  transition:
    transform 0.3s,
    opacity 0.1s,
    -webkit-transform 0.3s,
    -moz-transform 0.3s,
    -o-transform 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: currentColor;
  width: 48px;
  height: 48px;
  content: '';
}
.g-cursor.-inverse {
  color: #fff;
}
.g-cursor.-inverse.-reverse {
  color: var(--color-500);
}
.g-cursor.-quaternary {
  color: #c9ffc5;
}
.g-cursor.-quinary {
  color: #ccbaff;
}
.g-cursor.-stick {
  color: transparent;
}
.g-cursor.-active:before {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
}
.g-cursor.-magnify:before {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.g-cursor.-magnify-sm:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.g-cursor.-magnify-lg:before {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
@supports (mix-blend-mode: exclusion) {
  .g-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }

  .g-cursor.-exclusion:before {
    background: #fff;
  }
}
@supports (mix-blend-mode: color-burn) {
  .g-cursor.-color-burn,
  .g-cursor.-color-burn.-inverse.-reverse {
    mix-blend-mode: color-burn;
  }
}
@supports (mix-blend-mode: exclusion) {
  .g-cursor.-color-burn.-inverse {
    mix-blend-mode: exclusion;
  }
}
.g-cursor.-pointer:before {
  -webkit-transform: scale(0.15);
  -moz-transform: scale(0.15);
  -ms-transform: scale(0.15);
  -o-transform: scale(0.15);
  transform: scale(0.15);
}
.g-cursor.-pointer.-active:before {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
.g-cursor.-opaque {
  color: rgba(255, 255, 255, 0.25);
}
.g-cursor.-opaque:before {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.g-cursor.-opaque.-active:before {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.g-cursor.-lg:before {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.g-cursor.-lg.-active:before {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
.g-cursor.-text:before {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  opacity: 0.85;
}
.g-cursor.-text.-active:before {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.g-cursor.-icon:before {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.g-cursor.-icon.-active:before {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.g-cursor.-hidden:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.g-cursor-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0) rotate(10deg);
  -moz-transform: scale(0) rotate(10deg);
  -ms-transform: scale(0) rotate(10deg);
  -o-transform: scale(0) rotate(10deg);
  transform: scale(0) rotate(10deg);
  opacity: 0;
  -webkit-transition:
    opacity 0.4s,
    -webkit-transform 0.3s;
  transition:
    opacity 0.4s,
    -webkit-transform 0.3s;
  -o-transition:
    opacity 0.4s,
    -o-transform 0.3s;
  -moz-transition:
    opacity 0.4s,
    transform 0.3s,
    -moz-transform 0.3s;
  transition:
    opacity 0.4s,
    transform 0.3s;
  transition:
    opacity 0.4s,
    transform 0.3s,
    -webkit-transform 0.3s,
    -moz-transform 0.3s,
    -o-transform 0.3s;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.g-cursor.-icon .g-cursor-text,
.g-cursor.-text .g-cursor-text {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.g-cursor-media {
  position: absolute;
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
}
.g-cursor-media img,
.g-cursor-media video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .g-cursor-media img,
  .g-cursor-media video {
    position: static;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.g-cursor-media-box {
  position: relative;
  -webkit-transform: scale(0) translateZ(0);
  -moz-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  opacity: 0;
  -webkit-transition:
    opacity 0.2s 0.2s,
    -webkit-transform 0.35s;
  transition:
    opacity 0.2s 0.2s,
    -webkit-transform 0.35s;
  -o-transition:
    opacity 0.2s 0.2s,
    -o-transform 0.35s;
  -moz-transition:
    transform 0.35s,
    opacity 0.2s 0.2s,
    -moz-transform 0.35s;
  transition:
    transform 0.35s,
    opacity 0.2s 0.2s;
  transition:
    transform 0.35s,
    opacity 0.2s 0.2s,
    -webkit-transform 0.35s,
    -moz-transform 0.35s,
    -o-transform 0.35s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.g-cursor.-media .g-cursor-media-box {
  -webkit-transform: scale(0.696);
  -moz-transform: scale(0.696);
  -ms-transform: scale(0.696);
  -o-transform: scale(0.696);
  transform: scale(0.696);
  opacity: 1;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.4s, 0.4s;
  -moz-transition-duration: 0.4s, 0.4s;
  -o-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
}

/* User select disable */
[data-cursor-magnify],
[data-cursor-magnify-inner] > *,
.site-logo,
[data-cursor-magnify-sm],
[data-cursor-magnify-sm-inner] > *,
[navbar] [navbar-main] [navbar-main-list] .nav-link,
.links-list .links .link,
[data-cursor-magnify-lg] {
  user-select: none;
}
